@import "tailwindcss";


@keyframes marquee {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-100%); }
      }
        .animate-marquee {
        animation: marquee 20s linear infinite;
      }


/* ANIMATION */

            @keyframes slide {
              0% {
                transform: translateX(0);
              }
              100% {
                transform: translateX(-50%);
              }
            }

            .animate-slide {
              animation: slide 20s linear infinite;
            }
            .animate-slide:hover {
              animation-play-state: paused;
              cursor: pointer;
            }

            @media (max-width: 768px) {
              .animate-slide {
                animation-duration: 12s;
              }
            }


/* training page */
@keyframes ticker {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}